{% extends 'usuario.html' %}
    {% block title %}
        Asignación de anotaciones por Ley
    {% endblock %}
    {% block content %}
     <div class="lista" class="leyes">
		 {% if messages %}
			<ul>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<h1>Asignación de anotaciones</h1>
		<table>
			<tr>
				<th>Ley</th>
				<th>Identificador</th>
				<th>Bloque</th>
			</tr>
			{% for ley in object_list %}
				<tr>
					<td><a href="{% url 'documentos_app:asigna_anotacion_ley' ley.pk %}">{{ ley.nombre_oficial }}</a></td>
					<td><a href="{% url 'documentos_app:asigna_anotacion_ley' ley.pk %}">{{ ley.identificador }}</a></td>
					<td><a href="{% url 'documentos_app:asigna_anotaciones_bloque' ley.pk %}">ASIGNAR</a></td>
				</tr>
			{% endfor %}
		</table>
	 </div>
    {% endblock %}
