{% extends 'usuario.html' %}
    {% block title %}
        Consulta de documentos
    {% endblock %}
    {% block content %}
     <div class="lista" class="documentos">
		 {% if messages %}
			<ul>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<h1>Consulta de documentos</h1>
		<h3>Ley: <a href="{% url 'documentos_app:consulta_documentos_ley' object_list.0.ley.pk %}">{{ object_list.0.ley.nombre_oficial }}</a></h3>
		<h3>Título: {{ object_list.0.titulo }}</h3>
		<table>
			<tr>
				<th>Capítulo</th>
			</tr>
			{% for parrafo in object_list %}
				<tr>
					<td><a href="{% url 'documentos_app:consulta_documentos_capitulo' parrafo.pk %}">{{ parrafo.capitulo }}</a></td>
				</tr>
			{% endfor %}
		</table>
	 </div>
    {% endblock %}
