{% extends 'usuario.html' %}
    {% block title %}
        Registro de Activiad
    {% endblock %}
    {% block content %}
     <div class="lista" class="parrafo">
		 {% if messages %}
			<ul>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<h1>Registro de Actividad de Párrafos</h1>
		<table>
			<tr>
				<th>Ley</th>
				<th>Num</th>
				<th>Eliminar</th>
			</tr>
			{% for parrafo in object_list %}
				<tr>
					<td>{{ parrafo.ley }}</a></td>
					<td><a href="{% url 'documentos_app:registro_actividad_administra_parrafo' parrafo.pk %}">{{ parrafo.parrafo }}</a></td>
					<td><a href="{% url 'documentos_app:registro_actividad_elimina_parrafo' parrafo.pk %}">ELIMINAR</a></td>
				</tr>
			{% endfor %}
		</table>
	 </div>
    {% endblock %}
