{% extends 'usuario.html' %}
    {% block title %}
        Registro de Etiqueta
    {% endblock %}
    {% block content %}
     <div class="registro" class="etiquetas">
		 {% if messages %}
			<ul>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<h1>Registro de Etiqueta </h1>
		<form method="post" action="">
		{% csrf_token %}
			<table>
				{{ form.as_table }}
			</table>
			<p><input type="submit" value="Registrar" /></p>
		</form>
	 </div>
    {% endblock %}
