{% extends 'usuario.html' %}
    {% block title %}
        Administración de Usuarios
    {% endblock %}
    {% block content %}
     <div class="actualizar" class="usuarios">
		 {% if messages %}
			<ul>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<h1>Actualiza el usuario: {{ object.username }} </h1>
		<form method="post" action="">
		{% csrf_token %}
			<table>
				{{ form.as_table }}
			</table>
			<p><input type="submit" value="Actualizar" /></p>
		</form>
	 </div>
    {% endblock %}
